<!DOCTYPE html>
<html>
<head>
   <%- include('htmlHead') %>
</head>
<body>
<%- include('navComponent') %>

    <h1>Register</h1>
    <form action="/register" method="POST">
        <% if(message) { %>
            <p><%= message %></p>
        <% } %>
        <label for="name" class="label">First Name:</label><br>
        <input type="text" id="name" name="name"><br>

        <label for="surname" class="label">Surname:</label><br>
        <input type="text" id="surname" name="surname"><br>

        <label for="comfortCharacter" class="label">Username:</label><br>
        <input type="text" id="username" name="username"><br>

        <label for="email" class="label">EMail:</label><br>
        <input type="email" id="email" name="email"><br>

        <label for="info" class="label">Info:</label><br>
        <input type="text" id="info" name="info"><br>

        <label for="password" class="label">password:</label><br>
        <input type="text" id="password" name="password"><br>

        <button type="submit" class="buttonStyled">Register</button>
    </form>

</body>
</html>
