<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Register</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
<h1>Register</h1>

<div id="userCard">
    <form action="/users/register" method="POST" class ="displayCard">
        <label for="name" class="label">First Name:</label><br>
        <input type="text" id="name" name="name"><br>

        <label for="surname" class="label">Surname:</label><br>
        <input type="text" id="surname" name="surname"><br>

        <label for="hero" class="label">Hero:</label><br>
        <input type="text" id="hero" name="hero"><br>

        <label for="email" class="label">EMail:</label><br>
        <input type="email" id="email" name="email"><br>

        <label for="info" class="label">Info:</label><br>
        <input type="text" id="info" name="info"><br>

        <label for="password" class="label">password:</label><br>
        <input type="text" id="password" name="password"><br>

        <button type="submit">Register</button>
    </form>
</div>

</body>
</html>
