<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/styles.css"/>
    <title>Error Page</title>
</head>
<body>
<div id="topNav">
    <a href="/">home</a>
    <a href="/users">users</a>
    <a href="/register">register</a>
    <a href="/login">login</a>
    <a href="/logout">logout</a>
    <a href="/chat">chat</a>
</div>
<div class="image-container">
    <div id="content">
        <h1>Oh snap! Something went wrong!</h1>
        <p><%= error %></p>
        <a href="/"><button>Go back to homepage</button></a>
    </div>
</div>

</body>
</html>