<!doctype html>
<html lang="en">
<head>
    <%- include('htmlHead') %>
</head>
<body>

<div style="display: flex; flex-direction: column">
    <img src="/pictures/error.png" alt="Error" style="width: 50vw;">

    <a href="/">
        <button>Go back to homepage</button>
    </a>
</div>



</body>
</html>