<!doctype html>
<html lang="en">
<head>
    <%- include('htmlHead') %>
</head>
<body>
<div id="topNav">
    <a href="/">home</a>
    <a href="/users">users</a>
    <a href="/register">register</a>
    <a href="/login">login</a>
    <a href="/logout">logout</a>
    <a href="/chat">chat</a>
</div>
<div class="image-container">
    <div id="content">
        <img src="/pictures/error.png" alt="Error" style="width: 50vw;">

        <a href="/"><button>Go back to homepage</button></a>
    </div>
</div>

</body>
</html>