<html>
<head>
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Welcome to This Page</title>
</head>
<body>
<h1>This is Group 11!</h1>

<table id="userCards">
    <tr>
        <% for (let i = 0; i < members.length; i++) { %>
            <td class="displayCard">
                <p class="label">name</p>
                <p class="userInformation"> <%= members[i].name %> </p>
                <p class="label">age</p>
                <p class="userInformation"> <%= members[i].age %> </p>
                <p class="label">coding experience</p>
                <p class="userInformation"> <%= members[i].codingExperience %> </p>
                <p id="catchphrase"> <%= members[i].catchphrase %> </p>
            </td>
        <% } %>
    </tr>
</table>



<div>
    go to <a href="/users">users</a>
</div>
<div>
    go to <a href="/users/register">register</a>
</div>
<div>
    go to <a href="/login">login</a>
</div>
<div>
    go to <a href="/logout">logout</a>
</div>

<div id="topicDescription">
    <h2>Our Topic</h2>
    <p>pending...</p>
</div>
</div>


</body>
</html>