<html>
<head>
    <%- include('htmlHead') %>
</head>
<body>
<%- include('navComponent') %>
<div class="image-container">

    <div id="content">
        <h1>WELCOME<%= currentUser.username ? ', ' +  currentUser.username : '' %></h1>
        <h2>Our Topic is Avatar The Last Airbender...</h2>
    </div>
</div>

</div>
</body>
</html>