<html>
<head>
    <%- include('htmlHead') %>
</head>
<body>
<%- include('navComponent') %>

<div class="image-container">
    <div id="content">
        <h1>Login</h1>
    <form method="POST" action="/login">
        <%= message %>
        <label for="username" class="label">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password"class="label">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <button type="submit">Login</button>
    </form>
</div>
</div>
</body>
</html>