<!doctype html>
<html lang="en">
<head>
    <%- include('htmlHead') %>
</head>
<body>
<%- include('navComponent') %>
<div class="image-container">
    <div id="content">
        <h1>Upload your new profile picture here</h1>
        <form action="/users/<%= id %>/picture" method="post" enctype="multipart/form-data">
            <input type="file" name="picture"><br>
            <button type="submit">Upload</button>
        </form>
    </div>
</div>

</body>
</html>

