<html>
<head>
    <link rel="stylesheet" href="/styles/styles.css">
    <title>User</title>
</head>
<body>
<h1>This is User <%= user.id %> </h1>
<div id="userCard">
    <div class="displayCardUser">
        <% Object.entries(user).forEach(([key,value]) => { %>
            <p class="label"><%= key %> </p>
            <p class="userInformation"><%= value %> </p>
        <% }) %>
    </div>
</div>
</body>
</html>
