<html>
<head>
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Users</title>
</head>
<body>
<h1>These are all <%= users.length %> Users</h1>

<div id="userCards">
    <% users.forEach(function (users) { %>
        <div class="displayCard">
            <% Object.entries(users).forEach(([key,value]) => { %>
                <p class="label"><%= key %> </p>
                <p class="userInformation"><%= value %> </p>
            <% }) %>
        </div>
    <% }) %>
</div>
</body>
</html>